[submodule "themes/paige"]
	path = themes/paige
	url = git@github.com:willfaught/paige.git
[submodule "themes/introduction"]
	path = themes/introduction
	url = git@github.com:victoriadrake/hugo-theme-introduction.git
