{{ define "title" }}
<h1 class="bold-title is-1">{{ .Data.Singular | humanize }}: {{ lower .Title | markdownify }}</h1>
{{ end }}

{{ define "main" }}
<div class="container">
    {{ $prevYear := "" }}
    {{ range .Pages.ByPublishDate.Reverse }}
    {{ $currYear := .Date.Format "2006" }}
    <li class="post-item" style="display: flex; gap: 0;">
        {{ if .Params.date }}
        <span style="flex-shrink: 0; width: 3.5rem; text-align: left;">{{ if ne $currYear $prevYear }}{{ $currYear }}{{
            end }}</span>
        {{ if eq .Params.date_display "year" }}
        <span style="flex-shrink: 0; width: 4rem;"></span>
        {{ else }}
        <span style="flex-shrink: 0; width: 2.5rem; text-align: left;">{{ .Date.Format "Jan" }}</span>
        <span style="flex-shrink: 0; width: 1.5rem; text-align: right;">{{ .Date.Format "2" }}</span>
        {{ end }}
        <span style="flex-shrink: 0; width: 1.5rem;"></span>
        {{ end }}
        <span><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></span>
    </li>
    {{ $prevYear = $currYear }}
    {{ end }}
</div>
{{ end }}
